body {
  font-family: 'Montserrat', arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', arial;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

#features {
  text-align: center;
  padding: 7% 15%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#title {
  background-color: #ff4C68;
  color: white;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ff4C68;
  color: #fff;
}

#press {
  text-align: center;
  background-color: #ff4C68;
  padding-bottom: 3%;
}

#pricing {
  text-align: center;
  padding: 4% 0;
}

#cta {
  background-color: #ff4C68;
  padding: 5% 0;
  text-align: center;
}

#footer {
  text-align: center;
  margin-top: 1%;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-make-right {
  justify-content: flex-end;
}

.cta-header-text {
  font-family: "Montserrat";
  font-weight: bold;
  padding: 30px;
  color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', arial;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 20px 0;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Download Buttons */
.download-button {
  margin: 5% 5% 5% 0;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
}

/* Tick Colour */
.tick-color {
  color: #ff4C68;
  transform: scale(2);
  padding-bottom: 1rem;
}

.tick-color:hover {
  color: #ff8D68;
}

/* Features Padding */
.features-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Features Headings */
.feature-heading {
  font-weight: 900;
}

/* Features Text */
.features-text {
  width: 50%;
  margin: auto;
  font-family: "Montserrat", arial;
  font-weight: 500;
}

/* Testimonial Images */
.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Logo */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Cards */
.pricing-card-header {
  margin-bottom: 0;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 128px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
